<!doctype html>
{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<!-- CSS -->
	<link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/add_item.css' %}" rel="stylesheet">

    <!-- Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<title> Grossary Bag </title>

      <!-- CSS -->
    <style>
.textbox {
    border: 1px solid #c4c4c4;
    height: 40px;
    width: 375px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.textbox:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}
</style>
</head>
<body class="body-bg">

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg nav-bg p-4">
 <div class="container-fluid">
  <!-- Brand logo -->
   <a class="navbar-brand nav-text-color nav-brand-size">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
  <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
</svg>
    </a>
  <!-- End of Brand logo -->

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <!-- End of Toggler -->

   <!-- Navbar contents -->
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	 <!-- Home -->
	  <li class="nav-item ms-4">
	    <a class="nav-link active nav-text-color" href="{% url 'bag:Home' %}"> Home </a>
      </li>


		 {% if user.is_authenticated %}
          <!-- Profile -->
           <li class="nav-item ms-4">
               <a class="nav-link active nav-text-color" href="{% url 'authenticate:profile' pk=user.pk %}"> Profile </a>
           </li>

          {% endif %}
	 </ul>

	 <form class="d-flex" method="POST">
         {% csrf_token %}
        <input class="form-control me-2 text-muted" type="date" name="date">
        <button class="btn nav-text-color btn-outline-success" type="submit">Filter</button>
      </form>
       {% if user.is_authenticated %}
       <!-- Logout -->
          <li class="nav-item mb-4">
            <a class="nav-link active nav-text-color" href="{% url 'authenticate:logout' %}"> Logout </a>
          </li>
       {% else %}
       <li class="nav-item ms-4">
            <a class="nav-link active nav-text-color" href="{% url 'authenticate:login'  %}"> Login </a>
          </li>
       {% endif %}
   </div>
   <!-- End of navbar contents -->


 </div>
</nav>
<!-- End of Navigation Bar -->


  <!-- Sign UP -->
  <div class="registration-form social-media">
     <section>
        <form method="POST">
          {% csrf_token %}
            <div class="text-center pb-4">
                <span><h2>Change Password</h2></span>
            </div>
			<hr class="hr-primary mb-3" />
            <div class="form-group pt-4 text-center">
                <input type="password" name="password" placeholder="Password" required="" id="id_password" class="textbox">
                      <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                <script>
                    const togglePassword = document.querySelector('#togglePassword');
                      const password = document.querySelector('#id_password');

                      togglePassword.addEventListener('click', function (e) {
                        // toggle the type attribute
                        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                        password.setAttribute('type', type);
                        // toggle the eye slash icon
                        this.classList.toggle('fa-eye-slash');
                    });
                </script>
            </div>

			<div class="form-group pt-4 text-center">
                <input type="password" name="confirm_password" placeholder="Confirm Password" required="" id="confirm_password" class="textbox">
                      <i class="far fa-eye" id="tPassword" style="margin-left: -30px; cursor: pointer;"></i>
                <script>
                    const tPassword = document.querySelector('#tPassword');
                      const pass = document.querySelector('#confirm_password');

                      tPassword.addEventListener('click', function (e) {
                        // toggle the type attribute
                        const type = pass.getAttribute('type') === 'password' ? 'text' : 'password';
                        pass.setAttribute('type', type);
                        // toggle the eye slash icon
                        this.classList.toggle('fa-eye-slash');
                    });
                </script>
            </div>

            <div class="form-group pt-4">
                <button type="submit" class="btn btn-block create-account">Save</button>
            </div>
        </form>
     </section>
    </div>
  <!-- End of Signup -->





</body>

</html>